In [1]:
# Start coding...
import pandas as pd
import numpy as np

# Read in csv
marketing = pd.read_csv("bank_marketing.csv")

# Split into the three tables
client = marketing[["client_id", "age", "job", "marital", 
                    "education", "credit_default", "mortgage"]]
campaign = marketing[["client_id", "number_contacts", "month", "day", 
               "contact_duration", "previous_campaign_contacts", "previous_outcome", "campaign_outcome"]]
economics = marketing[["client_id", "cons_price_idx", "euribor_three_months"]]

In [2]:
## Editing the client dataset
# Clean education column
client.loc[:,"education"] = client["education"].str.replace(".", "_")
client.loc[:,"education"] = client["education"].replace("unknown", np.nan)

In [3]:
# Clean job column
client.loc[:,"job"] = client["job"].str.replace(".", "_")

# Clean and convert client columns to bool data type
for col in ["credit_default", "mortgage"]:
  client.loc[:,col] = client[col].map({"yes": 1,
                                 "no": 0,
                                 "unknown": 0})
  client.loc[:,col] = client[col].astype(bool)

### Campaign

In [4]:
# Editing the campaign dataset
# Change campaign_outcome to binary values
campaign.loc[:,"campaign_outcome"] = campaign["campaign_outcome"].map({"yes": 1, 
                                                                 "no": 0})

In [5]:
# Convert previous_outcome to binary values
campaign.loc[:,"previous_outcome"] = campaign["previous_outcome"].map({"success": 1, 
                                                                 "failure": 0,
                                                                 "nonexistent": 0})

In [7]:
# Add year column
campaign.loc[:,"year"] = "2022"

# Convert day to string
campaign.loc[:,"day"] = campaign["day"].astype(str)

# Add last_contact_date column
campaign.loc[:,"last_contact_date"] = campaign["year"] + "-" + campaign["month"] + "-" + campaign["day"]

In [8]:
campaign.head()

,client_id,number_contacts,month,day,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,year,last_contact_date
0,0,1,may,13,261,0,0,0,2022,2022-may-13
1,1,1,may,19,149,0,0,0,2022,2022-may-19
2,2,1,may,23,226,0,0,0,2022,2022-may-23
3,3,1,may,27,151,0,0,0,2022,2022-may-27
4,4,1,may,3,307,0,0,0,2022,2022-may-3

In [9]:
# Convert to datetime
campaign.loc[:,"last_contact_date"] = pd.to_datetime(campaign["last_contact_date"], 
                                               format="%Y-%b-%d")

In [10]:
# Clean and convert outcome columns to bool
for col in ["campaign_outcome", "previous_outcome"]:
  campaign.loc[:,col] = campaign[col].astype(bool)

In [11]:
# Drop unneccessary columns
campaign = campaign.drop(columns=["month", "day", "year"], axis=1)

In [12]:
campaign.head()

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
0,0,1,261,0,False,False,2022-05-13 00:00:00
1,1,1,149,0,False,False,2022-05-19 00:00:00
2,2,1,226,0,False,False,2022-05-23 00:00:00
3,3,1,151,0,False,False,2022-05-27 00:00:00
4,4,1,307,0,False,False,2022-05-03 00:00:00

In [16]:
# Save tables to individual csv files
client.to_csv("client.csv", index=False)
campaign.to_csv("campaign.csv", index=False)
economics.to_csv("economics.csv", index=False)